@font-face { 
	font-family: airplane; 
	font-weight: normal;
	src: url('airplane.ttf'); 
} 

body{
	background-image: url('bg.png');
	font-family: Roboto, arial;
	position: absolute;
	height: 100%;
}

h1{
	font-family: Roboto, arial;
	font-size: 40px;
	color: #eeeeee;
	margin-top: 20px;
}

h2{
	font-family: Roboto, arial;
	font-size: 20px;
	color: #444444;
}
h3{
	color: #ffffff;
	font-size: 2em;
	margin-bottom: 14px;
	opacity: 0.6;
}

b{
    font-weight: bold;
}

#content{
	margin: 20px;
	height: calc(100% - 40px);
	height: -webkit-calc(100% - 40px);
	overflow: hidden;
}
#header{
	height: 90px;
}
#clock {
	font-family: Roboto, arial;
	font-size: 5em;
	position: fixed;
	top: 20px;
	right: 30px;
	color: #eeeeee;
}

.ampm {
	color: #444444;
}

.banner{
    width: -webkit-calc(100% - 50px);
    padding: 15px;
    display: none;
}

.panel{
        width: calc(50% - 50px);
	width: -webkit-calc(50% - 50px);
	margin-right: 20px;
	padding: 15px;
	display: none;
}

#weatherbanner{
    background-color: #88D1ED;
	float: left;
    margin-bottom: 15px;
}

#tweetpanel{
	background-color: #F5F370;
	float: left;
	max-height: 100%;
}

#techpanel{
	background-color: #B5E983;
	float: left;
    margin-bottom: 15px;
}

#menupanel{
    background-color: #FDC46D;
    float: left;
    margin-bottom: 15px;
}

#newspanel{
    background-color: #C19ADB;
    float: left;
    margin-bottom: 15px;
}

ul.tweet_list{

}
ul.tweet_list li{
	margin-bottom: 20px;
	clear: both;
	min-height: 40px;
	font-size: 1.1em;
	border-bottom: solid 1px #CC3366;
	padding-bottom: 20px;
}
ul.tweet_list li a{
	font-weight: 500;
	color: #000000;
	text-decoration: none;
}
.tweet_avatar{
	float: left;
	margin-right: 10px;
}
.tweet_time{
	display: none;
}

#weather td,th{
    padding-left: 26px;
    padding-right: 26px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}

#menu{
    font-size: 32px;
    line-height: 120%;
}

#news{
    font-size: 28px;
}

.big_bold{
    font-size: 80px;
    font-weight: bold;
}

.big{
    font-size: 54px;
}

.medium_bold{
    font-size: 32px;
    font-weight: bold;
}

.medium{
    font-size: 32px;
}

.small{
    font-size: 18px;
}
