@font-face
{
font-family: JFabi;
src: url('SegoeWP.ttf');
}

@font-face
{
font-family: JFabi;
src: url('SegoeWP-Bold.ttf');
font-weight:bold;
}

body
{ 
  background: #000000;
  color: #ffffff;
  font-family: "Arial", "Helvetica", sans-serif;
  overflow: hidden;
  font-size: 6px;
}

h1
{
  position: fixed;
  top: 12px;
  left: 12px;
  right: 12px;
  height: 20px;
  padding: 6px 10px 14px 10px;
  text-align: center;
  border-bottom: 1px solid;
  background: #ffff00;
  color: #000000;
  margin: 0;
  font-size: 24px;
  overflow: hidden;
}

		#weather1 {
			position:fixed;
			background:#008CE3;
			/* background: -webkit-gradient(linear, left top, left bottom, from(#adc7db), to(#6f9dbe)); */
			/* background: -moz-linear-gradient(top, #b2bcc8, #adc7db); */
			width: 52.23%;
			height: 15.35%;
			margin-left: 4px;
			bottom: 74.8%;
			margin-top: 13px;
			padding: 13px 10px 0px 0px;
			overflow: hidden;
			border: 0px solid #6591b3;
		}
		
		#weather1 h2 {
			color: #000;
			text-shadow: rgba(250, 250, 250, 0.6) 2px 2px 0;
		}
		
		#weather1 p {
			position:fixed;
			margin: -25px 0 0 0;
			font-size: 24px;
			margin-left: 23%;
		}
		
		#weather1 p span {
			font-size: 22px;
			font-weight: bold;
			color: #4C4C4C;
		}

		#weather2 {
			position:fixed;
			background:#008CE3;
			/* background: -webkit-gradient(linear, left top, left bottom, from(#adc7db), to(#6f9dbe)); */
			/* background: -moz-linear-gradient(top, #b2bcc8, #adc7db); */
			width: 52.23%;
			bottom: 59.8%;
			height: 13%;
			margin-left: 4px;
			padding-left:10px;
			padding-top: 8px;
			overflow: hidden;
			border: 0px solid #6591b3;
		}
		
		#weather2 h2 {
			color: #000;
			text-shadow: rgba(250, 250, 250, 0.6) 2px 2px 0;
		}
		
		#weather2 p {
			position: fixed;
			font-size: 24px;
			margin: -22px 0 0 0;
			margin-left: 22.3%;
		}
		
		#weather2 p span {
			font-size: 22px;
			font-weight: bold;
			color: #4C4C4C;
		}

		#weather3 {
			position:fixed;
			background:#008CE3;
			/* background: -webkit-gradient(linear, left top, left bottom, from(#adc7db), to(#6f9dbe)); */
			/* background: -moz-linear-gradient(top, #b2bcc8, #adc7db); */
			width: 52.23%;
			bottom: 49.0%;
			height: 12.5%;
			margin-left: 4px;
			padding-bottom: 0px;
			padding-left:10px;
			padding: -8x 10px 0 8px;
			overflow: hidden;
			border: 0px solid #6591b3;
		}
		
		#weather3 h2 {
			color: #000;
			text-shadow: rgba(250, 250, 250, 0.6) 2px 2px 0;
		}
		
		#weather3 p {
			position: fixed;
			font-size: 24px;
			margin: -1.8% 0 0 22.3%;

		}
		
		#weather3 p span {
			font-size: 22px;
			font-weight: bold;
			color: #4C4C4C;
		}

#tweetFeed
{
	position:fixed;
	font-size:26px;
	width:43.00%;
	top:6.1%;
	right:12px;
	height:93%;
	overflow:hidden;"
}

#predictions,
#predictions li
{
  margin: 0;
  padding: 0;
  z-index: 100;
  list-style: none;
}
#predictions
{
/*  margin-top: 76px; */
    position: fixed;
/*    bottom: 128px; */
    bottom: 18.2%;
    left: 12px;
/*  right: 615px; */
    width: 53.0%;
    background: #b111b1;
}
#predictions li
{
  padding: 10px;
  border-bottom: 12px solid #000000;
}

.route
{
  font-weight: bold;
  font-size: 48px;
}
.run
{
  font-size: 24px;
}
.time
{
  font-size: 48px;
  float: right;
  margin-top: -24px;
}

#predictions li:first-child
{
  border-top: 36px solid #000000
}

#predictions li:first-child .route
{
  font-size: 72px;
}
#predictions li:first-child .run
{
  font-size: 44px;
}
#predictions li:first-child .time
{
  font-size: 72px;
}

.none
{
  font-size: 96px;
  text-align: center;
}

#bottom
{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #000000;
  margin: 4;
  height: 36px;
  overflow: hidden;
  padding: 20px;
}


#txt
{
  position: fixed;
/*  bottom: 50px; */
  bottom: 24px;
  left: 12px;
/*  height: 54px; */
/*  width: 154px; */
/* height: 7%; */
/* width: 25%; */
/*  padding: 9px 0px 13px 0px; */
  text-align: center;
  border-bottom: 0px solid;
  color: #ffffff;
  font-size: 140px;
  font-weight: bold;
  overflow: hidden;
}


#dining1
{
  position: fixed;
/*  bottom: 50px; */
  bottom: 7%;
  width: 43.1%;
  right: 12px;
/*  height: 54px; */
  height: 7%;
  padding: 9px 0px 15px 0px;
  text-align: left;
  border-bottom: 0px solid;
  background: #36CF59;
  color: #000000;
  margin: 0;
  font-size: 40px;
  overflow: hidden;
}

#date
{
  position: fixed;
/*  bottom: 50px; */
  bottom: 40px;
  left: 32%;
  right: 46%;
/*  height: 54px; */
/* height: 7%; */
/*  padding: 20px 0px 4px 0px; */
  text-align: left;
  border-bottom: 0px solid;
/* background: #ff0000; */
  color: #ffffff;
  font-size: 56px;
  font-weight: bold;
  overflow: hidden;
}


#routelist
{
  position: absolute;
  right: 20px;
  bottom: 20px;
  top: 20px;
  text-align: right;
  font-size: 32px;
}
#routelist,
#routelist li
{
  margin: 0;
  padding: 0;
  list-style: none;
}
#routelist li
{
  display: inline;
  margin-left: 20px;
}

#messages, #messages li
{
  margin: 0;
  padding: 0;
  list-style: none;
  height: 19px;
  overflow: hidden;
}
#messages li
{
  padding: 8px 0;
}
#messages-container
{
  margin-top: 9px;
}

#ticker
{
  position: absolute;
  width: 43.1%;
  right: 12px;
  background: #B0B0B0;
/*  height: 282px; */
  height: 26.80%;
/*  bottom: 140px; */
  bottom: 19.3%;
  font-size: 22px;
  overflow: hidden;
}

#tickercontent
{
  height: 200px;
  padding: 12px 0px 12px 0px;
  text-padding: 5px;
  color: #000000;
  overflow: hidden;
}

#TickerSummaryBC36479171
{
  height: 200px;
  padding: 12px 0px 12px 0px;
  text-padding: 5px;
  color: #000000;
  overflow: hidden;
  text-align: left;
  white-space: inherit;
}

#TickerTitleBC36479171
{
  color: #000000;
  overflow: hidden;
  text-align: right;
}


/*----------------------------
	The Weather Div
-----------------------------*/


#weather{
	position: fixed;
	width: 43.1%;
/*	height: 268px; */
	height: 41.65%;
	left: 56%;
	bottom: 49.60%;
/*	margin: 80px 12px 12px 0px; */
	overflow:hidden;
}

#weather:before{
	background: url("../img/preloader.gif") no-repeat center center #111;
	border: 0px solid #000;
	border-radius: 50% 50% 50% 50%;
	box-shadow: 0 1px 2px #444;
	content: "";
	height: 44px;
	margin: 80px 12px 0 auto;
	opacity: 0.7;
	position: absolute;
	top: 50%;
	width: 44px;
}

#weather.error:before{
	display:none;
}

#weather.error{
	text-align:center;
	font-size: 20px;
}

#weather.loaded #scroller,
#weather.loaded .arrow{
	display:block
}

#weather.loaded:before{
	display:none;
}

#weather.loaded{
	border-radius: 0px;
	
	margin: 64px 4px auto auto;
	box-shadow:0 0 0px rgba(0,0,0,0.15);
}

#weather.first a.previous,
#weather.last a.next{
	display:none;
}


/*----------------------------
	The Scroller
-----------------------------*/


#scroller{
	position:absolute;
	list-style:none;
	width:50%;
	height: 200px;
	white-space:nowrap;
	top:0;
	left:0;
}

#scroller li{
	position:relative;
	width:60%;
	height:58%;
	display:inline-block;
	text-align:left;
	margin-left: -10px;
	margin-right: 26px;
}

#scroller li img{
	display:block;
	margin: 15px 0 0 -20px;
}

#scroller li .day{
	color:#dcf0f6;
	font-size:15px;
	padding-top: 77px;
	text-shadow:0px 0px 0 rgba(0,0,0,0.15);
}

#scroller li .day b{
	font-weight:normal;
	color:#0f3642;
}

#scroller li .cond{
	bottom: -84px;
	color: #424242;
	font-size: 24px;
	position: absolute;
	text-shadow: 0px 0px 0 rgba(255, 255, 255, 0.3);
	width: 100%;
}

h2{
	bottom: -173px;
	color: #424242;
	font-size: 60px;
	position: absolute;
	text-shadow: 0px 0px 0 rgba(255, 255, 255, 0.3);
	width: 100%;
}

#scroller li .conda{
	bottom: -110px;
	color: #424242;
	font-size: 24px;
	position: absolute;
	text-shadow: 0px 0px 0 rgba(255, 255, 255, 0.3);
	width: 100%;
}

#scroller li .cond b{
	text-transform:uppercase;
}

#scroller li .conda b{
	text-transform:uppercase;
}

#scroller, .arrow{
	display:none;
}


/*------------------------------
	The Next/Previous arrows
-------------------------------*/


.arrow{
	background:url('../img/arrows.png') no-repeat;
	width:34px;
	height:45px;
	position:absolute;
	top:50%;
	margin-top:-45px;
	opacity:0.6;
	overflow:hidden;
	text-indent:-99999px;
}

.arrow:hover{
	opacity:1;
}

.arrow.previous{
	left:20px;
}

.arrow.next{
	background-position:top right;
	right:20px;
}



