<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- STYLESHEETS -->
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- JAVASCRIPT -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://tweet.seaofclouds.com/jquery.tweet.js" charset="utf-8"></script>
    <script type="text/javascript" src="/javascripts/jquery.simpleWeather.js" charset="utf-8"></script>
    <script src="/javascripts/dateformat.js"></script>
    <script src="/javascripts/weather.js"></script>
    <script src="/javascripts/tech.js"></script>
    <script src="/javascripts/menu.js"></script>
    <script src="/javascripts/news.js"></script>
  	
<script type='text/javascript'>
    lastUpdated = -1;
    $(document).ready(function(){

      $(function($){
        $("#tweet_feed").tweet({
          count: 7,
          avatar_size: 48,
          query: "#bash3w",
          loading_text: "searching twitter...",
          refresh_interval: 60
        });
      });

      // Update the time
      window.setInterval(function() {
          now = new Date();
          document.getElementById('clock').innerHTML=dateFormat(now, 'ddd, mmm d "&nbsp;" h:MM "<span class=\'ampm\'>"TT"</span>"');

          if (now.getMinutes() != lastUpdated) {
              lastUpdated = now.getMinutes();

              getWeather();
              getPredictions();
              getMenu();
              getNews();
          }
      }, 1000);

      $("#weatherbanner").delay(500).slideDown("slow");
      $("#tweetpanel").delay(600).slideDown("slow");

    });
</script>

  </head>
  <body>
  	<div id='content'>
      <div id='header'>
          <h1>infolounge</h1>
          <h2>beta v2.1</h2>

          <div id='clock'></div>
      </div>

      <div id='weatherbanner' class='banner'>
          <div id="weather"></div>
      </div>

      <div id='tweetpanel' class='panel'>
          <h3>Twitter</h3>
          <div id='tweet_feed'></div>
      </div>
      <div id='techpanel' class='panel'>
          <h3>Tech Shuttle</h3>
          <ul id="predictions"></ul>
      </div>
      <div id='menupanel' class='panel'>
          <h3>Menu</h3>
          <ul id="menu"></ul>
      </div>
      <div id='newspanel' class='panel'>
          <h3>Lounge News</h3>
          <ul id="news"></ul>
      </div>
    </div>
  </body>
</html>
