<DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- STYLESHEETS -->
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/plugins/foundation/css/foundation.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- JAVASCRIPT -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://tweet.seaofclouds.com/jquery.tweet.js" charset="utf-8"></script>
    <script type="text/javascript" src="/javascripts/jquery.simpleWeather.js" charset="utf-8"></script>
    <script type="text/javascript" src="/javascripts/jquery.jtweetsanywhere-1.3.1.js"></script>
    <script src="/javascripts/dateformat.js"></script>
    <script src="/javascripts/date.js"></script>
    <script src="/javascripts/weather.js"></script>
    <script src="/javascripts/tech.js"></script>
    <script src="/javascripts/menu.js"></script>
    <script src="/javascripts/news.js"></script>
    <script src="/javascripts/fancy.js"></script>
    <script src="/javascripts/alerts.js"></script>
    <script src="/javascripts/img.js"></script>
    <script src="/javascripts/webcam.js"></script>
  	
<script type='text/javascript'>
    lastUpdated = -1;
	var isItLateYet = function() {
		var today = new Date().getHours();
		if (today >= 2 && today <= 7) {	
			$('.shutthefuckup').show();
			console.log(today);
		} else {
			$('.shutthefuckup').hide();
			console.log(today);
		}
		setTimeout(isItLateYet, 1000);
	}
	$('.shutthefuckup').hide();
	
    $(document).ready(function(){
		isItLateYet();
        $('#tweet_feed').jTweetsAnywhere({
            searchParams: ['q=bash3w'],
            count: 10,
            showTweetFeed: {
                autoConformToTwitterStyleguide: false,
	            showActionFavorite: false,
                showTimestamp: {
                    refreshInterval: 60
                },
                autorefresh: {
                    mode: 'auto-insert',
                    interval: 30,
	                duration: -1
                },
                paging: { mode: 'none' }
                },
            onDataRequestHandler: function(stats, options) {
                if (stats.dataRequestCount < 4321) {
                    return true;
                }
                else {
                    stopAutorefresh(options);
                }
            }
        });

      // Update the time
      window.setInterval(function() {
          now = new Date();
          document.getElementById('clock').innerHTML=dateFormat(now, 'H:MM');
          getDate();

          if (now.getMinutes() != lastUpdated) {
              lastUpdated = now.getMinutes();
              getWeather();
              getAlerts();
              getPredictions();
              getMenu();
              getNews();
              getImg();
          }
      }, 1000);

      $("#tweetpanel").delay(600).slideDown("slow");

    });
</script>

  </head>
  <body>
  	<div id='content'>
      <div class="row">
        <div class="large-6 columns">
          <div id='header'>
              <h1>infolounge</h1>
              <h2>beta v2.4</h2>
          </div>
        </div>
        <div class="large-6 columns">
            <div id='clock'></div>
        </div>
      </div>
      <div class="row">
        <div class="large-7 columns">

          <div class="row">
            <div class="large-12 column" id='alertspanel'>
              <h3 class='alerts-header'>Alerts</h3>
              <div class='panel'>
                  <div id='alerts'></div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="large-12 columns" id='weatherpanel'>
              <h3 class='weather-header'>Weather</h3>
              <div class='panel'>
                <div id='weather'></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns" id='tweetpanel'>
              <h3 class='twitter-header'>Twitter</h3>
              <div  class='panel'>
                <div id='tweet_feed' style='width: 520px; margin-left: auto; margin-right: auto;'>

<a class="twitter-timeline"  width="520px" href="https://twitter.com/search?q=%23bash3w"  data-chrome="noheader nofooter transparent noscrollbar" data-widget-id="373316916703539200">Tweets about "#bash3w"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


		</div>
              </div>
            </div>
          </div>
        </div>
        <div class="large-5 columns">



          <div class="row">
            <div class="large-12 columns" id='datepanel' >
              <h3 class="date-header">Today</h3>
              <div class='panel' style="display: block;">
                  <div id="date">
                  </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="large-12 column" id='menupanel'>
              <h3 class='menu-header'>Dining</h3>
              <div class='panel'>
                  <ul id="menu"></ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns" id='techpanel'>
              <h3 class='techshuttle-header'>Tech Shuttle</h3>
              <div class='panel'>
                <ul id="predictions"></ul>
              </div>
            </div>  
          </div>

          <div class="row">
            <div class="large-12 columns" id='imgpanel'>
              <h3 class='img-header'>Image</h3>
              <div id='twitimg' class='panel'>
                <div id="img"></div>
              </div>
            </div>  
          </div>

          <div class="row">
            <div class="large-12 columns" id='webcampanel'>
              <h3 class='img-header'>Video</h3>
              <div class='panel'>
                  <video autoplay></video>
              </div>
            </div>
          </div>
        </div>
        <!--
          <div class="row">
            <div class="large-12 columns">
              <div id='newspanel' class='panel'>
                  <h3>Lounge News</h3>
                  <div id="news"></div>
              </div>
            </div>  
          </div>
        -->
      </div>
    </div>
    <div class='shutthefuckup'>
    	<div class='block'>
    		<h2>It's Past 2am! That means…</h2>
    		<h1>Quiet Hours!</h1>
    	</div>
    </div>
  </body>
</html>
