<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- STYLESHEETS -->
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- JAVASCRIPT -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://tweet.seaofclouds.com/jquery.tweet.js" charset="utf-8"></script>
    <script type="text/javascript" src="/javascripts/jquery.simpleWeather.js" charset="utf-8"></script>
    <script src="/javascripts/dateformat.js"></script>
    <script src="/javascripts/tech.js"></script>
    <script src="/javascripts/weather.js"></script>
  	
<script type='text/javascript'>
    $(document).ready(function(){

      $(function($){
        $("#tweet_feed").tweet({
          count: 7,
          avatar_size: 48,
          query: "#bash3w",
          loading_text: "searching twitter...",
          refresh_interval: 60
        });
      });

      $("#panel1").delay(500).slideDown("slow");
      $("#panel2").delay(600).slideDown("slow");
      $("#panel3").delay(900).slideDown("slow");
      $("#panel4").delay(1200).slideDown("slow");
      $("#panel5").delay(1500).slideDown("slow");

    });
</script>

<meta http-equiv="refresh" content="720" >

  </head>
  <body onload='getTime()'>
  	<div id='content'>
      <div id='header'>
        <h1>infolounge</h1>
        <h2>beta v2.1</h2>

        <div id='clock'>
        </div>
        <script>
            function getTime() {
                window.setInterval(function() {
                    document.getElementById('clock').innerHTML=dateFormat('ddd, mmm d "&nbsp;" h:MM "<span class=\'ampm\'>"TT"</span>"');
                }, 1000);
            };
        </script>
      </div>

      <div id='panel2' class='banner'>
          <div id="weather"></div>
      </div>

      <div id='panel1' class='panel'>
          <h3>Twitter</h3>
          <div id='tweet_feed'>
          </div>
      </div>
      <div id='panel3' class='panel'>
        <h3>Tech Shuttle</h3>
        <ul id="predictions">
        </ul>
      </div>
      <% if (typeof menu != 'undefined') { %>
      <div id='panel4' class='panel'>
          <h3>Menu</h3>
          <ul id="menu"><%- menu %></ul>
      </div>
      <% } %>
      <div id='panel5' class='panel'>
          <h3>Lounge News</h3>
          <ul id="news"><%- news %></ul>
      </div>
    </div>
  </body>
</html>
