<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>


<title>Next3W infoLounge</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />


     <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jcarousel.js"></script>
<script type="text/javascript" src="/javascripts/arrivals.js"></script>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.jtweetsanywhere-1.3.1.js"></script>
<script type="text/javascript" src="/javascripts/jtweetsanywhere-de-1.3.1.min.js"></script>
<script type="text/javascript" src="/javascripts/startthetime.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/anywhere.js?id=APIKey&v=1"></script>
<script type="text/javascript" src="/javascripts/jquery.simpleWeather.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.jtweetsanywhere-1.3.1.css" />

<meta http-equiv="refresh" content="720" >






</head>




<body onload="startTime()">

<script>function startTime(){

var today=new Date();
var h=today.getHours();
var m=today.getMinutes();
var s=today.getSeconds();

var d=new Date();
var weekday=new Array(7);

var o = d.getDate();
var wd = d.getDay();

weekday[0]="Sunday";
weekday[1]="Monday";
weekday[2]="Tuesday";
weekday[3]="Wednesday";
weekday[4]="Thursday";
weekday[5]="Friday";
weekday[6]="Saturday";

var n = weekday[d.getDay()];

var month=new Array();
month[0]="Jan";
month[1]="Feb";
month[2]="March";
month[3]="April";
month[4]="May";
month[5]="June";
month[6]="July";
month[7]="Aug";
month[8]="Sept";
month[9]="Oct";
month[10]="Nov";
month[11]="Dec";
var p = month[d.getMonth()];
var pa = d.getMonth()

// add a zero in front of numbers<10
m=checkTime(m);
s=checkTime(s);

if (h < 10)
  {
  document.getElementById('txt').innerHTML="0"+h+":"+m;
  }
else
  {
  document.getElementById('txt').innerHTML=h+":"+m;
  }
document.getElementById('date').innerHTML=n+"<br/>"+o+" "+p;
t=setTimeout(function(){startTime()},500);



if ((pa==0 && o<7) || (pa==11 && o>21) || (pa==5) || (pa==6))
	{
	document.getElementById('dining1').innerHTML="There are no dining services today,</br>please hunt for your food"
	}

else if ((pa==0 && o>6) || (pa==1 && o==1))
	{
		if ((h==10 && m>29) || h==11 || h==12 || (h==13 && m<30))
		{
		document.getElementById('dining1').innerHTML="Brunch now at Baker until 13.30</br>Dinner at Baker: 17.30-20.00"
		}
		else if ((h==17 && m>29) || h==18 || h==19)
		{
		document.getElementById('dining1').innerHTML="Dinner now at Baker until 20.00</br>Breakfast at Baker 10.30-13.30"
		}		
		else
		{
		document.getElementById('dining1').innerHTML="Brunch at Baker: 10.30-13.30</br>Dinner at Baker: 17.30-20.00"
		}
	}
else if (wd==0)
	{
		if (h==10 || h==11 || h==12)
		{
		document.getElementById('dining1').innerHTML="Brunch now until 13.00</br>Tomorrow: breakfast/dinner"
		}
		else if ((h==17 && m>29) || h==18 || h==19 || (h==20 && m<30))
		{
		document.getElementById('dining1').innerHTML="Dinner now until 20.30</br>Tomorrow: breakfast/dinner"
		}
		else
		{
		document.getElementById('dining1').innerHTML="Today: brunch/dinner</br>Tomorrow: breakfast/dinner"
		}
	}	
else if (wd==6)
	{
		if (h==10 || h==11 || h==12)
		{
		document.getElementById('dining1').innerHTML="Brunch now until 13.00</br>Tomorrow: brunch/dinner"
		}
		else if ((h==17 && m>29) || h==18 || h==19 || (h==20 && m<30))
		{
		document.getElementById('dining1').innerHTML="Dinner now until 20.30</br>Tomorrow: brunch/dinner"
		}
		else
		{
		document.getElementById('dining1').innerHTML="Today: brunch/dinner</br>Tomorrow: brunch/dinner"
		}
	}
else if (wd==5)
	{
		if (h==8 || h==9)
		{
		document.getElementById('dining1').innerHTML="Breakfast now until 10.00</br>Tomorrow: brunch/dinner"
		}
		else if ((h==17 && m>29) || h==18 || h==19 || (h==20 && m<30))
		{
		document.getElementById('dining1').innerHTML="Dinner now until 20.30</br>Tomorrow: brunch/dinner"
		}
		else
		{
		document.getElementById('dining1').innerHTML="Today: breakfast/dinner</br>Tomorrow: brunch/dinner"
		}		
	}		

else
	{
		if (h==8 || h==9)
		{
		document.getElementById('dining1').innerHTML="Breakfast now until 10.00</br>Tomorrow: breakfast/dinner"
		}
		else if ((h==17 && m>29) || h==18 || h==19 || (h==20 && m<30))
		{
		document.getElementById('dining1').innerHTML="Dinner now until 20.30</br>Tomorrow: breakfast/dinner"
		}
		else
		{
		document.getElementById('dining1').innerHTML="Today: breakfast/dinner</br>Tomorrow: breakfast/dinner"
		}
	}

}

function checkTime(i)
{
if (i<10)
  {
  i="0" + i;
  }
return i;}

</script>


<h1 id="demo">#bash3w infoLounge, version 1.4</h1>


<div style="position:fixed;bottom:49.65%;">

<div id="weather1"></div>
<div id="weather2"></div>
<div id="weather3"></div>

</div>

        <!-- JavaScript includes - jQuery, turn.js and our own script.js -->

		<script src="/javascripts/weather.js"></script>
</script>


<!-- <div style="position: fixed; padding-left: 0px; width: 1256px; bottom: 12px; left: 12px; right 12px;"><iframe src="http://s1.rsspump.com/rss.aspx?s=3cd3602b-7296-4a73-bcbc-6db11b0861b8&amp;speed=2&amp;t=0&amp;d=0&amp;u=0&amp;p=1&amp;b=1&amp;ic=9&amp;font=Verdana&amp;fontsize=22px&amp;bgcolor=F7FF03&amp;color=000000&amp;type=typewriter&amp;su=0&amp;sub=0&amp;sw=0" frameborder="0" width="100%" height="28px" scrolling="no" allowtransparency="true"></iframe><noframes><div style="background-color: #f7ff03;"><a href="http://news.rsspump.com/" title="">news</a></div></noframes></div> -->


</div>



<div id="tweetFeed">
</div>

<script type="text/javascript">
$('#tweetFeed').jTweetsAnywhere({
    searchParams: ['q=bash3w'],
    count: 10,
    showTweetFeed: {
    	autoConformToTwitterStyleguide: false,
	showActionFavorite: false,
        showTimestamp: {
            refreshInterval: 15
        },
        autorefresh: {
            mode: 'auto-insert',
            interval: 30,
	    duration: -1
        },
        paging: { mode: 'none' }
    },
    onDataRequestHandler: function(stats, options) {
        if (stats.dataRequestCount < 4321) {
            return true;
        }
        else {
            stopAutorefresh(options);
            alert("To avoid struggling with Twitter's rate limit, we stop loading data after 4321 API calls.");
        }
    }
});
</script>

<ul id="menu">

</ul>

<ul id="predictions">

</ul>  

<div id="txt"></div> <div id="date"></div>

</body>

<script language="javascript" type="text/javascript">
	window.onload=startTime() {setCookie('startTime','true',365);};libinit();
</script>






</html>
