@font-face { 
	font-family: airplane; 
	font-weight: normal;
	src: url('airplane.ttf'); 
} 

body{
	background-image: url('bg.png');
	font-family: Roboto, arial;
	position: absolute;
	height: 100%;
}

h1{
	font-family: Roboto, arial;
	font-size: 40px;
	color: #eeeeee;
	margin-top: 20px;
}

h2{
	font-family: Roboto, arial;
	font-size: 20px;
	color: #444444;
}
h3{
	color: #ffffff;
	font-size: 2em;
	margin-bottom: 14px;
	opacity: 0.6;
}
#content{
	margin: 20px;
	height: calc(100% - 40px);
	height: -webkit-calc(100% - 40px);
	overflow: hidden;
}
#header{
	height: 90px;
}
#clock {
	font-family: Roboto, arial;
	font-size: 5em;
	position: fixed;
	top: 20px;
	right: 30px;
	color: #eeeeee;
}

.ampm {
	color: #444444;
}

.panel{
	width: calc(33% - 51px);
	width: -webkit-calc(33% - 51px);
	margin-right: 20px;
	padding: 20px;
	display: none;
    box-shadow: 10px 10px 5px #AAAAAA;
}

#panel1{
	background-color: #F9D654;
	float: left;
	max-height: 100%;
}

#panel2{
    background-color: #56BAEC;
	float: left;
    margin-bottom: 25px;
}

#panel3{
	background-color: #009900;
	float: left;
	margin: 0;
    margin-bottom: 25px;
}

#panel4{
    background-color: #FF9E00;
    float: left;
    margin: 0;
    margin-bottom: 25px;
}

#panel5{
    background-color: #336699;
    float: left;
    margin: 0;
}

ul.tweet_list{

}
ul.tweet_list li{
	margin-bottom: 20px;
	clear: both;
	min-height: 40px;
	font-size: 1.1em;
	border-bottom: solid 1px #CC3366;
	padding-bottom: 20px;
}
ul.tweet_list li a{
	font-weight: 500;
	color: #000000;
	text-decoration: none;
}
.tweet_avatar{
	float: left;
	margin-right: 10px;
}
.tweet_time{
	display: none;
}

#predictions{
    font-size: 60px;
}

#weather td,th{
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

#menu{
    font-size: 32px;
}

#news{
    font-size: 28px;
}

